NODE_ENV=production
PORT=3003
APP_NAME=tawjihi-platform
API_PREFIX=/api/v1
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/tawjihi?schema=public&connection_limit=20
REDIS_URL=redis://redis:6379
JWT_ACCESS_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----
JWT_ACCESS_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nreplace_me\n-----END PUBLIC KEY-----
JWT_REFRESH_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nreplace_me\n-----END PRIVATE KEY-----
JWT_REFRESH_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nreplace_me\n-----END PUBLIC KEY-----
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_ISSUER=tawjihi-platform
JWT_AUDIENCE=tawjihi-platform-users
POSTGRES_DB=tawjihi
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
REDIS_PASSWORD=
ADMIN_USERNAME=superadmin
ADMIN_PASSWORD=ChangeMe123!
DOMAIN=tawjihi.megaserv.xyz
CERTBOT_EMAIL=admin@megaserv.xyz
CORS_ORIGIN=https://tawjihi.megaserv.xyz
UPLOAD_DIR=/app/uploads
LOG_LEVEL=info

